@page "/todos/create"

@*@attribute [Authorize]
@inject NavigationManager Navigation

<h3>Create Todos</h3>

<EditForm Model="todo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
     this will validate the input against the fields mentioned in the model 

    <div class="form-group">
        <label class="control-label">Name</label>
        <InputText class="form-control" @bind-Value="@todo.Name"></InputText>
        <ValidationMessage For="@(()=>todo.Name)" />
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <InputText class="form-control" @bind-Value="@todo.Description"></InputText>
        <ValidationMessage For="@(()=>todo.Description)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>*@

@*@code {
    private Todo todo { get; set; } = new Todo();

    private void HandleValidSubmit()
    {
        var todoGuid = Guid.NewGuid();
        App.Todos.Add(todoGuid, todo);
        Console.WriteLine($"A new todo with Id: {todoGuid} was added.");
        Navigation.NavigateTo("/todos");        // redirect to index todos page
    }
}*@
